{{ $ := .root }}
{{ $page := .page }}

<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.feature }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
    {{ $pack_prefix = "fa" }}
  {{ end }}
  <div class="col-12 col-sm-4">
    {{ with .icon }}
    <div class="featurette-icon">
      {{- if eq $pack "emoji" -}}
        {{- . | emojify -}}
      {{- else if eq $pack "custom" -}}
        {{- $svg_icon := resources.Get (printf "images/icon-pack/%s.svg" .) -}}
        {{- if $svg_icon -}}<img src="{{ $svg_icon.RelPermalink }}" alt="{{.}}" class="svg-icon svg-baseline">{{- end -}}
      {{- else -}}
        <i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i>
      {{- end -}}
    </div>
    {{ end }}
    <h3>{{ .name | markdownify | emojify }}</h3>
    {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}
</div>





<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2>Miscellaneous</h2>
      <ul class="fa-ul mb-0">
        <li style="margin-bottom:5px">
          <span  class="fa-li"><img src="images/icon-pack/sql.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
          MySQL<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
        </li>

        <li style="margin-bottom:5px">
          <span  class="fa-li"><i style="font-size: 1.5em; color: #2a62ff" class="fab fa-github"></i></span>
          Git<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
        </li>

        <li style="margin-bottom:5px">
          <span  class="fa-li"><img src="images/icon-pack/tex.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
          LaTeX<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
        </li>

        <li style="margin-bottom:5px">
          <span  class="fa-li"><i style="font-size: 1.5em; color: #2a62ff" class="fab fa-linux"></i></span>
          Linux<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
        </li>

        <li style="margin-bottom:5px">
          <span  class="fa-li"><i style="font-size: 1.5em; color: #2a62ff" class="fas fa-cube"></i></span>
          OOP<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
        </li>

        <li style="margin-bottom:5px">
          <span  class="fa-li"><img src="images/icon-pack/xml.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
          XML<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
        </li>

        <li style="margin-bottom:5px">
          <span  class="fa-li"><img src="images/icon-pack/bison.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
          Flex and Bison<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
        </li>

      </ul>

      <h2>Kernel Programming</h2>
    <ul class="fa-ul mb-0">
      <li style="margin-bottom:5px">
        <span  class="fa-li"><img src="images/icon-pack/terminal.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
        Xv6<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>

      <li style="margin-bottom:5px">
        <span  class="fa-li"><img src="images/icon-pack/terminal.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
        FreeRTOS<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>
    </ul>
      


    </div>

    <div class="col-sm-6">
      <h2 style="text-align: center">Programming Languages</h2>
      <ul class="fa-ul mb-0">
        <li>
          <li style="margin-bottom:5px">
            <span  class="fa-li"><i style="font-size: 1.5em; color: #2a62ff" class="fab fa-python"></i></span>
            Python (inc. NumPy and SciPy)<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
        </li>
        <li style="margin-bottom:5px">
          <span  class="fa-li"><i style="font-size: 1.5em; color: #2a62ff" class="fab fa-java"></i></span>
          Java (inc. Spring, Hibernate and Maven)<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>
      <li style="margin-bottom:5px">
        <span  class="fa-li"><img src="images/icon-pack/cpl.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
        C<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
    </li>
    <li style="margin-bottom:5px">
      <span  class="fa-li"><img src="images/icon-pack/icons8-arduino.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
      Arduino<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
  </li>
  <li style="margin-bottom:5px">
    <span  class="fa-li"><img src="images/icon-pack/arm.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
    ARM Assembly<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
  </li>
  <li style="margin-bottom:5px">
    <span  class="fa-li"><img src="images/icon-pack/cplusplus-plain.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
    C++<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
  </li>
  <li style="margin-bottom:5px">
    <span  class="fa-li"><img src="images/icon-pack/vhdl.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
    VHDL<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
  </li>
  <li style="margin-bottom:5px">
    <span  class="fa-li"><img src="images/icon-pack/matlab.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
    MATLAB<sup><img src="images/icon-pack/i.svg" style="font-size: 1.3em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
  </li>
  <li style="margin-bottom:5px">
    <span  class="fa-li"><img src="images/icon-pack/raeket.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
    Lisp, Racket<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
  </li>
    </ul>
    </div>
    <div class="col-sm-3">
      <h2>Web Development</h2>

      <ul class="fa-ul mb-0">
      <li style="margin-bottom:5px">
        <span  class="fa-li"><i style="font-size: 1.5em; color: #2a62ff" class="fab fa-html5"></i></span>
        HTML5<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>
      <li style="margin-bottom:5px">
        <span  class="fa-li"><i style="font-size: 1.5em; color: #2a62ff" class="fab fa-css3-alt"></i></span>
        CSS3<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>
      <li style="margin-bottom:5px">
        <span  class="fa-li"><i style="font-size: 1.5em; color: #2a62ff" class="fab fa-bootstrap"></i></span>
        Bootstrap 4<sup><img src="images/icon-pack/f.svg" style="font-size: 1.3em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>
    </ul>

    <h2>Softwares</h2>
    <ul class="fa-ul mb-0">
      <li style="margin-bottom:5px">
        <span  class="fa-li"><img src="images/icon-pack/vhdl.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
        Vivado Design Suite<sup><img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>

      <li style="margin-bottom:5px">
        <span  class="fa-li"><img src="images/icon-pack/modeller.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
        Camunda Modeler<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>

      <li style="margin-bottom:5px">
        <span  class="fa-li"><img src="images/icon-pack/vhdl.svg" style="font-size: 1.5em" alt="{{.}}" class="svg-icon svg-baseline"></span>
        Proteus Design Suite<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>

      <li style="margin-bottom:5px">
        <span  class="fa-li"><i style="font-size: 1.5em; color: #2a62ff" class="fas fa-microchip"></i></span>
        PSpice<sup><img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>
      </li>
    </ul>


    </div>
  </div>
</div>
<div style="text-align: center;">
<img src="images/icon-pack/p.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline"></sup>: Professional
<img src="images/icon-pack/i.svg" style="font-size: 1em" alt="{{.}}" class="svg-icon svg-baseline">: Intermediate
<img src="images/icon-pack/f.svg" style="font-size: 1.3em" alt="{{.}}" class="svg-icon svg-baseline">: Familiar
</div>

<!--
<h2 style="text-align: center; align-content: center;">Language Proficiency</h2>
<dl class="row" style="align-items: center; align-content: center; text-align: center; margin-top: 15;">
  <dt class="col-sm-6" ><h3 style="margin: 0 auto 0 0">English</h3> IELTS score: To be taken on September 20 <br>GRE score: To be taken on November 9 </dt>
  <dt class="col-sm-6" ><h3 style="margin: 0 auto 0 0">Persian</h3> (mother tongue)</dt>
-->

